$color1: #00ffff
$color2: #ff00ff
$color3: #004478
$color4: #4f4d40
$color5: #6b231b
$color1bg: darken($color1, 20%)
$color2bg: darken($color2, 20%)

a
  color: $color2

  &:hover, &:focus
    color: $color2


header
  background: black

  .logo
    margin: auto
    width: 300px

hr
  border-color: $color1bg

.bg-primary
  background-color: darken($color1, 20%)

  .badge
    color: $color2
    background-color: #fff

  a
    color: darken($color2, 20%)


.bg-secondary
  background-color: darken($color2, 40%)
  color: white

.bg-dark
  color: #fff
  background-color: $color4


.btn-primary
  background: $color1bg

  &:hover
    background: $color2bg

  &visited
    background: $color1bg

.navbar-default, .navbar-default.affix
  background: black
  .navbar-header
    .navbar-brand
      color: $color2
      &:hover
        color: $color1

  .nav > li>a, .nav>li>a:focus
    color: white
    &:hover
      color: $color2
  .nav > li.active>a, .nav>li.active>a:focus
    color: $color2!important

.gamescom-logo
  background-color: white
  width: 150px

.shop-logo
  max-width: 110px
